:root{
    --background-color: linear-gradient(to bottom right, #EDEEF2, #C3C3C3);
    --text-color: black;
    --main-card-bg-color: #DADBDE;
    --default-card-bg-color: #F6F7F7;
    --default-scroll-track-color: #D3D3D5;
    --default-scroll-handle-color: #A7A7A7;
    --default-darker-bg-color: #C9CBD1;
    font-family: "Ubuntu", serif;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}
  
body{
    position: relative;
    height: 100%;
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mainCard{
    background-color: var(--main-card-bg-color);
    display: flex;
    height: 90%; 
    width: 63%; 
    border-radius: 59px 50px 50px 59px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .25);
    margin: 23px;
}

.sectionLayout{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Projects Section */
.projectsSection{
    margin: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 55%;
    overflow: auto;
}

.projectsContainer{
    padding-right: 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 13px;
}
  
::-webkit-scrollbar-track {
    background: var(--default-scroll-track-color);
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--default-scroll-handle-color);
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.projectCard{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    min-height: 65px;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--default-card-bg-color);
}

.editableProjectCard{
    background-color: #BFBFC0;
}

.projectTextContainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

h2,p{
    margin: 0;
    padding: 0;
}

.projectCard p{
    color:#454545;
}

.editBtnContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    margin-left: 20px;
}

.saveBtnContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: auto;
}

.selectedProjectCard{
    border: solid 6px #C6C8CB;
}

.projectColorIndicator{
  
    min-width: 20px;
    max-width: 20px;
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
    padding: 0;
    background: none;
    border: none;
    appearance: none;
    
}
  
.projectColorIndicatorGeneral{
    background-color: #555;
}

.projectColorIndicator::-webkit-color-swatch{
    border-radius: 10px;
}

/* Notes Section */

.notesSection{
    margin: 0 23px 23px 23px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--default-card-bg-color);
    border-radius: 40px;
    overflow: auto;
}

.notesContainer{
    margin: 25px 15px 25px 0;
    gap:15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}

.notesContainer img {
    margin-left: 30px;
    width: 50%;
    height: auto;
}

.noteCard{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.sortSection{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    align-items: center;
}

/* Days Tasks Section */

.darkerContainer{
    height: 90px;
    background-color: var(--default-darker-bg-color);
}

/* Buttons */
button{
    border: none;
    border-radius: 40px;
    font-family: "Ubuntu", serif;
}

.darkBtn{
    background-color: #17303A;
    color: #FFFFFF; 
}

.greyBtn{
    background-color: #B1B0B1;
    color: #000000; 
}

.redBtn{
    background-color: #FF9B9B;
    color: #000000; 
}

.bigBtn{
    font-size: 20px;
    padding: 15px;

}

.smallBtn{
    font-size: 12pt;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
}

.notesBtnLayout{
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* Modal */
.modalOverlay{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, .25)
    
}

.modalCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F7;
    width: 317px;
    height: 189px;
    padding: 30px;
    text-align: center;
    gap: 20px;
    border-radius: 40px;
}

.modalCard button{
    margin-left: auto;
}

.btnContainer{
    display: flex;
    gap: 20px;
}


/* Dark mode styles */
body.dark-mode {
    --background-color: linear-gradient(to bottom right, #4C5471, #19202F);
    --text-color: white;
    --main-card-bg-color: #5B647F;
    --default-card-bg-color: #737FA1;
    --default-scroll-track-color: #4A587D;
    --default-scroll-handle-color: #283457;
    --default-darker-bg-color: #737FA1;
}
  

/* Responsivity for different screens */

@media (max-width: 1400px) {
    /* Styles for screens 1400px wide or less */
    .mainCard{
        height: 100%; 
        width: 100%; 
        border-radius: 0;
        margin: 0;
    }
}

@media (min-width: 2684px) { /* Fix the image sizing so it fits the container */
    .notesContainer img {
        width: 263px;
        height: auto;
    }
}